<nav class="navbar">

  <div class="logo">
    🧋 Bubble Tea App
  </div>

  <ul class="links">
    <li><a routerLink="/menu">Inicio</a></li>
    <li><a routerLink="/menu">Productos</a></li>
    <li><a routerLink="/contact">Contacto</a></li>
    <li><a routerLink="/perfil">Perfil</a></li>
    
    @if (isAdmin) {
      <li>
        <a routerLink="/admin">Añadir producto</a>
      </li>
    }
  </ul>

  <div class="navbar-actions">
    <span class="cart-count">
      Carrito: {{ totalItems$ | async }}
    </span>
    <button (click)="logout()">Salir</button>
  </div>

</nav>